.ProseMirror {
  /* Typography */
  p {
    @apply mb-1.5 leading-relaxed first:mt-0 last:mb-0;
  }

  & > p {
    @apply mb-1.5 first:mt-0 last:mb-0;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold first:mt-0 last:mb-0;
  }

  h1,
  h2,
  h3 {
    @apply mt-12;
  }

  h4,
  h5,
  h6 {
    @apply mt-8;
  }

  a.link {
    @apply font-extrabold text-blue-500 dark:text-blue-400;
  }

  mark {
    @apply rounded-sm bg-red-500 decoration-clone px-0 py-1 text-inherit dark:bg-red-400;
  }

  img {
    @apply h-auto max-w-full;
  }

  @for $i from 1 through 7 {
    $indent-margin-base: 2em;

    *[data-indent='#{$i}'] {
      text-indent: $indent-margin-base * $i !important;
    }
  }

  iframe {
    @apply mt-2 h-full w-full rounded-sm border border-border !important;
  }

  /* Blockquote */
  .blockquote {
    @apply rounded-lg rounded-bl-none rounded-tl-none border-l-4 border-l-neutral-700 bg-opacity-80 px-4 py-2 text-black dark:border-l-neutral-300 dark:text-white;
  }

  code {
    @apply rounded-sm bg-neutral-900 font-mono text-white caret-white shadow-lg;

    &::selection {
      @apply bg-white/30;
    }
  }

  pre {
    @apply my-1 rounded border border-black border-border bg-neutral-700 p-4 text-white caret-white dark:bg-neutral-900;

    *::selection {
      @apply bg-white/20;
    }

    code {
      @apply bg-inherit p-0 text-inherit shadow-none;
    }
  }

  /* Lists */
  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ul,
  ol {
    @apply my-6 px-8 py-0 first:mt-0 last:mb-0;

    ul,
    ol,
    li {
      @apply my-1;
    }

    p {
      @apply mb-1 mt-0;
    }
  }

  & > ul,
  & > ol {
    @apply my-8 first:mt-0 last:mb-0;
  }

  ul[data-type='taskList'] {
    @apply list-none p-0;

    p {
      @apply m-0;
    }

    li {
      @apply flex;

      > label {
        @apply mr-2 inline flex-auto shrink-0 grow-0 select-none;
      }

      > div {
        @apply flex-auto;
      }

      &[data-checked='true'] {
        @apply line-through;
      }
    }
  }

  /* Table */
  table {
    border: 1px solid;

    @apply box-border w-full table-fixed border-collapse overflow-x-auto overflow-y-hidden border-black/10 dark:border-white/20;

    td,
    th {
      border: 1px solid;

      @apply relative box-border min-w-[1em] border border-black/10 p-2 text-left align-top dark:border-white/20 !important;

      &:first-of-type:not(a) {
        @apply mt-0;
      }

      p {
        @apply m-0;

        & + p {
          @apply mt-3;
        }
      }
    }

    th {
      @apply text-left font-bold;
    }
  }
}

.reactjs-tiptap-editor .ProseMirror .search-result {
  background-color: #ffd90080;
}

.reactjs-tiptap-editor .ProseMirror .search-result-current {
  background-color: #0dff0080;
}
